@page "/authors/delete/{Id:int}"
@using BusinessLayer;
@using ServiceLayer;
@using Microsoft.AspNetCore.Components.Forms;
@inject AuthorManager authorManager;
@inject NavigationManager navigationManager;
@inject ErrorModel errorModel;

<h3>Delete</h3>

<h4>Author</h4>
<hr />

<div class="row">
	<div class="col-md-4">
		<EditForm Model="@Model" OnValidSubmit="OnDeleted">
			<DataAnnotationsValidator />
			<div class="form-group">
				<label class="control-label"></label>
				<span class="form-control">@Model.FirstName</span>
				<ValidationMessage For=@( () => Model.FirstName) />
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Delete" class="btn btn-primary" />
			</div>

			<label id="error" class="text-danger">@errorModel.Description</label>
		</EditForm>
	</div>
</div>

<div>
	<a href="authors">Back to List</a>
</div>
@code {
	Author Model = new();

	[Parameter]
	public int Id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Model = await authorManager.ReadAsync(Id, false, false);
	}

	async Task OnDeleted()
	{
		try
		{
			await authorManager.DeleteAsync(Model.Id);
			navigationManager.NavigateTo("authors");
		}
		catch (Exception ex)
		{
			errorModel.Code = "DB";
			errorModel.Description = ex.InnerException != null ? ex.InnerException.Message : ex.Message;
		}
	}
}
