@*@page "/search"
@using BusinessLayer;
@using Services;
@inject BookService bookService;

<div>
	Search:
	<input @bind-value="filter" type="text" name="search" />
	<button @onclick="HandleSearch">Search</button>
</div>

<h3>SearchBar</h3>

@code {	
	private string filter;
	private void HandleSearch()
	{
		
	}
}
*@