@page "/books/delete/{Key}"
@using BusinessLayer;
@using ServiceLayer;
@using Microsoft.AspNetCore.Components.Forms;
@inject BookManager bookManager
@inject NavigationManager navigationManager
@inject ErrorModel errorModel
@attribute [Authorize(Roles = "Administrator")]

<h3>Delete</h3>

<h4>Book</h4>
<hr />

<div class="row">
	<div class="col-md-4">
		<EditForm Model="@Model" OnValidSubmit="OnDeleted">
			<DataAnnotationsValidator />
			<div class="form-group">
				<label class="control-label"></label>
				<span class="form-control">@Model.Title</span>
				<ValidationMessage For=@( () => Model.Title) />
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Delete" class="btn btn-primary" />
			</div>

			<label id="error" class="text-danger">@errorModel.Description</label>
		</EditForm>
	</div>
</div>

<div>
	<a href="books">Back to List</a>
</div>
@code {
	Book Model = new();

	[Parameter]
	public string Key { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Model = await bookManager.ReadAsync(Key, true, false);
	}

	async Task OnDeleted()
	{
		try
		{
			await bookManager.DeleteAsync(Model.Key);
			navigationManager.NavigateTo("books");
		}
		catch (Exception ex)
		{
			errorModel.Code = "DB";
			errorModel.Description = ex.InnerException != null ? ex.InnerException.Message : ex.Message;
		}
	}
}
